:global {
  .euiPopoverTitle {
    text-transform: none !important;
  }

  .euiButton {
    min-width: 93px !important;

    &--small {
      min-width: 67px !important;
    }

    &:focus {
      text-decoration: none !important;
    }
  }
}

.text {
  font-size: 13px;
  text-align: center;
  color: var(--euiColorPrimaryText);
  > div {
    font-size: 13px;
  }
}
.actions {
  span,
  svg {
    font-size: 14px !important;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}

.cross svg {
  width: 20px;
  height: 20px;
}
