.noResultsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.title {
  font-size: 28px !important;
  margin-bottom: 8px;
}

.subTitle {
  font-size: 14px !important;
  margin-top: 34px;
  margin-bottom: 34px;
  padding: 0 34px;
}

.icon {
  width: 100%;
}
