# This is Atlassian MCP configuration defined in mcp.json

# Setup:
# 1. First, copy this file as .env.mcp 
# cp env.mcp.example .env.mcp
# 
# 2. Edit the .env.mcp and configure the values below
# 
# For JIRA and confluence MCP, you need to create a token.
# Go to https://id.atlassian.com/manage-profile/security/api-tokens
# and create a classic token by pressing the first "Create Token" button
# 
# 3. To verify your setup, run agent with the following command:
# npx @augmentcode/auggie --mcp-config mcp.json "go over all my mcp tools and make sure they work as expected"
# or you can ask the agent UI to do the same

JIRA_API_TOKEN=<token>
CONFLUENCE_API_TOKEN=<token>

CONFLUENCE_URL=https://<team>.atlassian.net/wiki
CONFLUENCE_USERNAME=<your redis email>@redis.com

JIRA_URL=https://<team>.atlassian.net
JIRA_USERNAME=<your redis email>@redis.com

# for debugging the Atlassian MCP 
# MCP_VERBOSE=true
# MCP_VERY_VERBOSE=true
# MCP_LOGGING_STDOUT=true

JIRA_PROJECTS_FILTER=
CONFLUENCE_SPACES_FILTER=

# NOTE do not put the values in quotes, since the tool will not remove them