.votingContainer {
  :global {
    .voteContent {
      margin-left: 10px;

      svg {
        width: 34px;
        height: 34px;
        fill: none;

        path {
          stroke: var(--buttonSecondaryTextColor);
        }
      }
    }
  }
}
