.classNameGridComponent {
  position: relative;
}

.flexItemKeyInput {
  flex-direction: row !important;
  width: 100% !important;
}

.toolTipAnchorKey {
  max-width: 450px;
  height: 31px !important;
  width: 100%;
}

.keyInput {
  height: 31px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  flex: 1;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 6px;
}

:global(.browserPage .key-details-header .euiFormControlLayout) {
  .keyInputEditing {
    height: 31px !important;
  }
}

.keyHiddenText {
  display: inline-block;
  visibility: hidden;
  height: 1px;
  overflow: hidden;
  max-width: 100%;
  margin-right: 80px;
  word-break: break-all;
}

.copyKey {
  display: flex;
  align-items: center;
  height: 31px;
  flex-shrink: 0;
}

.capitalize {
  text-transform: capitalize;
}

.key {
  display: flex;
  width: 100%;
  min-width: 100%;
  max-width: 400px;
  padding-left: 9px;
  line-height: 31px !important;
}

.hidden {
  display: none;
}
