.container {
  padding: 16px;
}

.breadcrumbsContainer {
  height: 100%;
  display: flex;
  align-items: center;

  & > div {
    display: flex;
  }
}

.rdiName {
  display: inline-block !important;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.divider {
  color: var(--euiTextSubduedColor);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0 8px;
}
