.wrapper {
  .list {
    list-style: initial;
    padding-left: 24px;
    margin-top: 4px;
  }

  &.small {
    .list {
      list-style: initial;
      padding-left: 18px;
      margin-top: 2px;
    }
  }
}
