.redisIcon {
  width: 128px;
  height: 34px;
}

.consentsPopup {
  max-width: 94vw;
  max-height: calc(100vh - 60px) !important;
  height: auto;
}

.modalHeader {
  padding: 30px 42px 12px !important;
  padding-bottom: 4px;
}

.modalBody :global(.euiModalBody__overflow) {
  padding: 0 42px 30px !important;
}

.consentsWrapper {
  @include eui.scrollBar;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 290px);
}

.pluginWarningHR {
  margin-bottom: 0 !important;
}

.requiredHR {
  margin: 0 !important;
}

.overlay {
  &.overlay_dark {
    background-image: url('uiSrc/assets/img/welcome_bg_dark.png') !important;
  }

  &.overlay_light {
    background-image: url('uiSrc/assets/img/welcome_bg_light.png') !important;
  }
}
