.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 36px;
}

.option .pendingCount {
  font: normal normal normal 13px/24px Graphik, sans-serif;
  letter-spacing: -0.13px;
  color: var(--inputPlaceholderColor) !important;
  white-space: nowrap;
}

.consumerOption :global(.euiContextMenu__itemLayout) .pendingCount {
  padding-right: 13px;
}

.consumerOption :global(.euiContextMenu__itemLayout) {
  margin-right: 20px;
  height: 20px;
}

.consumerField {
  width: 389px !important;
  height: 36px !important;
}

.fieldWithAppend {
  width: 162px !important;
  height: 36px !important;
  padding-right: 40px !important;
}

.retryCountField {
  width: 88px;
  height: 36px !important;
}

.consumerName {
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeWrapper {
  position: relative;

  .timeUnit {
    position: absolute;
    top: 12px;
    right: 5px;
    font-size: 12px;
  }
}
