.body {
  height: calc(100% - 60px);
}

.tabs {
  flex-shrink: 0 !important;
  overflow: initial !important;
  flex-grow: 0;

  & > div {
    padding: 0 12px;
  }
}

.assistantHeader {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.onboardingAnchorWrapper {
  display: flex;
}
