.message {
  font-family: 'Graphik', sans-serif;
  color: var(--euiTextSubduedColor) !important;
}

.link {
  text-decoration: underline !important;

  &:hover {
    text-decoration: none !important;
  }
}
