.homePage {
  .euiTitle {
    padding-bottom: 15px;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .euiFormControlLayout {
    max-width: 100% !important;

    input,
    select,
    textarea {
      max-width: 100% !important;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .euiRadioGroup__item {
    display: inline-block;
    vertical-align: top !important;
    margin-top: 1px !important;
    margin-bottom: 3px !important;
    margin-right: 30px !important;
  }

  .euiFormHelpText {
    color: var(--euiColorMediumShade);
  }

  .euiCheckbox__label {
    font-size: 14px !important;
  }

  textarea {
    resize: none;
    max-height: 85px;
    transition: max-height 0.4s ease;
    &:focus {
      max-height: 180px;
    }
  }

  .container {
    @include eui.scrollBar;

    background-color: var(--euiColorEmptyShade);
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 74px);
    padding: 40px 30px 25px;
    margin-right: 5px;
    border-radius: 4px;
  }

  .footerAddDatabase {
    margin: 0;
    width: 100%;
    bottom: 0;
    float: right;
    text-align: right;
    vertical-align: bottom;
    padding: 15px 24px 0;
    border-radius: 0 0 4px 4px;

    border-top: 1px solid var(--euiColorLightShade);

    .btn-cancel,
    .btn-back {
      margin-right: 10px;
      min-width: 71px !important;
    }
  }

  .clusterDatabaseList,
  .clusterDatabaseListResult,
  .cloudDatabaseList,
  .cloudDatabaseListResult,
  .sentinelDatabaseList,
  .sentinelDatabaseListResult {
    overflow: hidden !important;

    .column_status * {
      text-transform: capitalize !important;
    }

    .euiButton.btn-back {
      float: left;
    }
  }


  .clusterDatabaseListResult .euiTableRowCell:first-child,
  .clusterDatabaseListResult .euiTableHeaderCell:first-child,
  .sentinelDatabaseListResult .euiTableRowCell:first-child,
  .sentinelDatabaseListResult .euiTableHeaderCell:first-child,
  .cloudDatabaseListResult .euiTableRowCell:first-child,
  .cloudDatabaseListResult .euiTableHeaderCell:first-child {
    padding-left: 10px;
  }
}

.theme_DARK {
  .homePage {
    .databaseList {
      .euiTableCellContent {
        color: var(--textColorShade) !important;
      }

      .euiTableHeaderCell .euiTableCellContent {
        color: #fff !important;
      }
    }
  }
}
