.summary {
  color: var(--euiColorMediumShade) !important;
  vertical-align: middle;
  font: normal normal normal 12px/18px "Graphik", sans-serif !important;
  letter-spacing: -0.12px;
}

.tooltip {
  max-width: 372px !important;
}

.switch {
  padding-bottom: 16px;
}

.popoverWrapper {
  width: 240px;
  height: 114px;
  padding: 28px 18px !important;

  .input {
    display: inline-block;
    width: 80px;

    input {
      height: 30px !important;
      border-radius: 0 !important;
    }
  }
}
.popoverWrapperEditing {
  height: 140px;
}

.inputContainer {
  height: 30px;
  line-height: 30px;
}

.inputLabel {
  display: inline-block;
  width: 80px;
  font-size: 13px;
  color: var(--euiTextSubduedColor) !important;
}

.switchOption {
  padding-bottom: 16px;
}

.refreshRatePencil {
  display: none;
  right: 61px;
  margin-bottom: 3px;
  width: 26px !important;
  height: 28px !important;
  padding: 5px;
  position: absolute;

  svg {
    margin-top: -16px !important;
  }
}

.refreshRateText {
  display: inline-block;
  width: 80px;
  height: 30px;
  cursor: pointer;
  padding-left: 5px;

  &:hover {
    border-color: var(--controlsBorderColor);

    .refreshRatePencil {
      display: inline-block !important;
    }
  }
}
