name: Lint

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: ESLint
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        uses: ./.github/actions/install-all-build-libs
        with:
          skip-system-deps: '1'

      - name: Restore ESLint cache
        uses: actions/cache@v4
        with:
          path: .eslintcache
          key: eslint-${{ runner.os }}-${{ github.ref_name }}
          restore-keys: |
            eslint-${{ runner.os }}-

      - name: Run ESLint
        run: yarn lint

