.container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.advantage {
  display: flex;
  margin-top: 12px;

  align-items: center;
}

.advantageIcon {
  margin-right: 6px;
}
